$grid: 400px;

.grid-display {
    width: $grid;
    height: $grid;

    background-color: yellow;
}

.destroyer-container {
    width: 80px;
    height: 40px;
    background-color: orange;
    margin: 10px;
    display: flex;
}

.submarine-container {
    width: 120px;
    height: 40px;
    background-color: orange;
    margin: 10px;
    display: flex;
}

.cruiser-container {
    width: 120px;
    height: 40px;
    background-color: orange;
    margin: 10px;
    display: flex;
}

.battleship-container {
    width: 160px;
    height: 40px;
    background-color: orange;
    margin: 10px;
    display: flex;
}

.carrier-container {
    width: 200px;
    height: 40px;
    background-color: orange;
    margin: 10px;
    display: flex;
}