$measure: 100px;

.tile {
    width: $measure;
    height: $measure;
    display: grid;
    place-content: center;
}

.black-tile {
    background-color: #779556;
}

.white-tile {
    background-color: #ebecd0;
}

.tile img {
    width: 80px;
}

.chess-piece {
    height: $measure;
    width: $measure;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
}

.chess-piece:hover {
    cursor: grab;
}

.chess-piece:active {
    cursor: grabbing;
}